<div class="row">
	<div class="col col-xs  col-md col-sm col-xs-3 col-sm-3 col-md-3 ">
		<div class="card">
			<div class="col col-md col-md-12 col-md-12 text-center">
				<span class="painel-desc-icon glyphicon glyphicon-blackboard"></span>
			</div>
			<div class="col col-md col-md-12 col-md-12">
				<label for="" class="painel-desc-attr"><%-registro.evento%></label>
			</div>
		</div>
		
	</div>
	<div class="col col-xs col-md col-sm col-xs-2 col-sm-2 col-md-2">
		<div class="card">
			<div class="col col-md col-md-12 col-md-12 text-center">
				<span class="painel-desc-icon glyphicon glyphicon-time"></span>
			</div>
			<div class="col col-md col-md-12 col-md-12">
				<label for="" class="painel-desc-attr"><%-registro.data.toLocaleDateString()%></label>
			</div>
		</div>
	</div>
	<div class="col col-xs col-md col-sm col-xs-2 col-sm-2 col-md-2">
		<div class="card">
			<div class="col col-md col-md-12 col-md-12 text-center">
				<span class="painel-desc-icon glyphicon glyphicon-map-marker"></span>
			</div>
			<div class="col col-md col-md-12 col-md-12">
				<label for="" class="painel-desc-attr"><%-registro.local%></label>
			</div>
		</div>
	</div>
	<div class="col col-xs col-md col-sm col-xs-2 col-sm-2 col-md-2">
		<div class="card">
			<div class="col col-md col-md-12 col-md-12 text-center">
				<span class="painel-desc-icon glyphicon glyphicon-duplicate"></span>
			</div>
			<div class=" col col-md col-md-12 col-md-12">
				<label for="" class="painel-desc-attr"><%-registro.quantidadeConvites%></label>
			</div>
		</div>
	</div>
	<div class="col col-xs col-md col-sm col-xs-3 col-sm-3 col-md-3">
		<div class="card">
			<div class="col col-md col-md-12 col-md-12 text-center">
				<span class="painel-desc-icon glyphicon glyphicon-user"></span>
			</div>
			<div class="col col-md col-md-12 col-md-12">
				<label for="" class="painel-desc-attr">
					<%-realizador.nome%>
				</label>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col col-xs col-md col-sm col-xs-12 col-sm-12 col-md-12">
		<div class="card">
			<div class="col col-md col-md-12 col-md-12 text-center">
				<span style="padding:2% 2%" class="painel-desc-icon glyphicon glyphicon-question-sign" ></span>
			</div>
			<div class="col col-md col-md-12 col-md-12">
				<label style="padding:2% 2%" class="painel-desc-attr">
					<%-registro.descricao%>
				</label>
			</div>
		</div>
	</div>
</div>